html,body {
  width: 100%;
 
  text-align: center;
}

#border {
  background-color: #fdfbf1;
  border-top: #fee6a8 1px solid;
}
#border,p {
  width: 100%;
}

#main {
  width: 50%;
  margin: 0 auto;

  text-align: center;
}
#main p{
    text-align: left;
}

#focaccia {

  text-align: center;
  margin: 0 auto;
}
#focaccia,
img {
  border-radius: 10px;
  
}
section{
    margin-left: 26%;
    border-left: #fee6a8 2px solid;
    padding-left:10px;
    
}

section,#feat{
  text-align: left;
}
section p{
    margin-top: 50px;
    color:#b74a14;
    line-height: 1px;
}
#featMethod {
  text-align: left;
}
