html,body {
  width: 100%;
 
  text-align: center;
}

#border {
padding-bottom: 3px;
  background-color: #fdfbf1;
  border-top: #fee6a8 1px solid;
}
#border,p {
  width: 100%;
}

#main {
  width: 50%;
  margin: 0 auto;

  text-align: center;
}
#main p{
    text-align: left;
}

#focaccia {

  text-align: center;
  margin: 0 auto;
}
#focaccia img {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px;
  width: 50vw;
  
}
#focaccia img, figcaption{
    margin-top: 10px;
    color: grey;
}
section{
    margin-left: 25%;
    border-left: #fee6a8 2px solid;
    padding-left:10px;
    
}

section,#feat{
  text-align: left;
  margin: 0 auto;
  width: 50%;

}
section p{
    margin-top: 50px;
    color:#b74a14;
    line-height: 1px;
}
a{
    color: #409191;
}
#featMethod {
  text-align: left;
  margin: 0 auto;
  width: 50%;
}
#description{
    padding-left: 1.5em ;
}
