/*NAVBAR*/
html {
  font-family: Arial, Helvetica, sans-serif;
  color: #612406;
}
body {
  margin: 0;
  width: 100%;
}
.flex {
  display: flex;
}
.navbar {
  justify-content: space-evenly;
  background-color: #fbf7e3;
  color: #612406;
  align-items: center;
  flex-direction: column;
  width: 18%;
  height: auto;
}
.bottoni {
  background-color: #f3df85;
  height: 7vh;
  width: 11vw;
  text-align: center;
  border-radius: 30px;
  font-size: 1.3em;
  margin: 12px;
}
.titolo {
  background-color: #f3df85;
  height: 7vh;
  width: 11vw;
  margin: 12px;
  text-align: center;
  border-radius: 70px;
  justify-content: space-evenly;
}
.titolo img {
  margin: 5px;
  width: 4vw;
  height: 5vh;
}
.titolo h1 {
  margin-top: 18px;
  font-size: 1.5em;
}

/*PRODUCT CARD*/

.card {
  border-radius: 140px;
  justify-content: center;
  width: 54vh;
  min-width: 40vh;
  min-height: 70vh;
  flex-direction: column;
  overflow: hidden;
  background-color: #fbf7e3;
}
.card img {
  object-fit: cover;
  width: 500px;
  height: 480px;
}
.elements {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.testo {
  margin: 20px;
  text-align: left;
}
.titoloCard {
  margin: 0px;
  font-weight: bold;
  font-size: 2em;
}
#testo {
  margin: 0;
  margin-left: 20px;
  font-size: 1.2em;
}
.prezzo {
  font-size: 1.7em;
  margin-left: 20px;
}
.btn {
  background-color: #f3df85;
  justify-content: center;
  width: 211px;
  height: 50px;
  border-radius: 26px;
  margin-left: 28%;
  margin-bottom: 20px;
  align-items: center;
}
a {
  text-decoration: none;
  font-size: 1.5em;
}
/*FLEXIBLE ARTICLE*/

.cardA {
  background-color: #fbf7e3;
  border-radius: 30px;
}
.img img {
  margin: 20px;
}
.testoA h3 {
  margin-top: 40px;
}
.testoA p {
  margin-right: 20px;
}
/*MOBILE VERSION*/
@media screen and(min-width:1200px), (max-width: 900px) {
  .cardA {
    flex-direction: column-reverse;
    width: 90%;
  }
  .img img {
    max-width: 90%;
    height: auto;
    justify-content: center;
  }
  .testoA {
    margin: 20px;
  }
}
