/*NAVBAR*/
html {
  font-family: Arial, Helvetica, sans-serif;
  color: #612406;
}
body {
  margin: 0;
  width: 100%;
}
.flex {
  display: flex;
}
.wrap {
}
.navbar {
  justify-content: flex-start;
  background-color: #fbf7e3;
  color: #612406;
  align-items: center;
  flex-direction: column;
  width: 10%;
}

.bottoni {
  background-color: #f3df85;
  height: 10vh;
  width: 8vw;
  text-align: center;
  border-radius: 42px;
  font-weight: bold;
  margin: 10px;
}
.center {
  margin-top: 32px;
}
.titolo {
  background-color: #f3df85;
  height: 10vh;
  width: 8vw;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 70px;
}
.titolo img {
  margin: 18px 12px;
  width: 4vw;
  height: 5vh;
}

.titolo h3 {
  margin-top: 28px;
  font-size: 1.5em;
}

/*PRODUCT CARD*/
main {
  flex-grow: 1;
  flex-direction: column;
  margin-left: 3%;
}
h1 {
  font-weight: 900;
}
.container {
  height: 36vh;
  flex-wrap: wrap;
  width: max-content;
}
.card {
  border-radius: 60px;
  width: 15vw;
  flex-direction: column;
  overflow: hidden;
  background-color: #fbf7e3;
  margin-right: 26px;
}
.card img {
  object-fit: cover;
  width: 310px;
  height: 180px;
}
.elements {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.testo {
  margin: 14px 10px;
  text-align: left;
}
.titoloCard {
  margin: 0px;
  font-weight: 900;
}
#testo {
  margin: 0;
  margin-left: 14px;
}
.prezzo {
  margin-left: 34px;
}
.btn {
  background-color: #f3df85;
  justify-content: center;
  width: 160px;
  height: 36px;
  border-radius: 26px;
  margin-left: 23%;
  align-items: center;
}
a {
  text-decoration: none;
  font-weight: 700;
}
/*FLEXIBLE ARTICLE*/
section h2 {
  margin-top: 24px;
  font-weight: 900;
}
.cardA {
  background-color: #fbf7e3;
  border-radius: 30px;
  width: 80vw;
  margin-bottom: 30px;
}
.img img {
  margin: 20px;
}
.testoA h3 {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: 900;
}
.testoA p {
  margin-right: 20px;
}
/*MOBILE VERSION*/
@media screen and(max-width:1200px) {
  .cardA {
    flex-direction: column-reverse;
    width: 90%;
  }
  .img img {
    max-width: 90%;
    height: auto;
    justify-content: center;
  }
  .testoA {
    margin: 20px;
  }
}
