/*NAVBAR*/
html {
  font-family: Arial, Helvetica, sans-serif;
  color: #612406;
}
.flex {
  display: flex;
}
.navbar {
  justify-content: space-evenly;
  background-color: #fbf7e3;
  color: #612406;
  border-radius: 90px;
  width: 95vw;
  height: 20vh;
  align-items: center;
}
.bottoni {
  background-color: #f3df85;
  height: 7vh;
  width: 11vw;
  text-align: center;
  border-radius: 30px;
  font-size: 1.3em;
}
.titolo {
  background-color: #f3df85;
  height: 14vh;
  width: 29vw;
  margin: 12px;
  text-align: center;
  border-radius: 70px;
  justify-content: space-around;
}
.titolo img {
  margin: 10px;
}
.titolo h1 {
  margin-top: 36px;
  font-size: 3em;
}
/*PRODUCT CARD*/

.card {
  margin-top: 10%;
  border-radius: 140px;
  justify-content: center;
  width: 54vh;
  min-width: 40vh;
  min-height: 70vh;
  flex-direction: column;
  overflow: hidden;
  background-color: #fbf7e3;
}

.card img {
  object-fit: cover;
  width: 500px;
  height: 480px;
}
.elements {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.prezzo {
  font-size: 1.7em;
  margin-left: 20px;
}
.testo {
  margin: 20px;
  text-align: left;
}
#testo {
  margin: 0;
  margin-left: 20px;
  font-size: 1.2em;
}
.titolo {
  margin: 0px;
  font-weight: bold;
  font-size: 2em;
}
.btn {
  background-color: #f3df85;
  justify-content: center;
  width: 211px;
  height: 50px;
  border-radius: 26px;
  margin-left: 28%;
  margin-bottom: 20px;
  align-items: center;
}
a {
  text-decoration: none;
  font-size: 1.5em;
}
/*FLEXIBLE CARD*/

.card {
  margin-top: 10%;
  border-radius: 140px;
  justify-content: center;
  width: 54vh;
  min-width: 40vh;
  min-height: 70vh;
  flex-direction: column;
  overflow: hidden;
  background-color: #fbf7e3;
}

.card img {
  object-fit: cover;
  width: 500px;
  height: 480px;
}
.elements {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.prezzo {
  font-size: 1.7em;
  margin-left: 20px;
}
.testo {
  margin: 20px;
  text-align: left;
}
#testo {
  margin: 0;
  margin-left: 20px;
  font-size: 1.2em;
}
.titolo {
  margin: 0px;
  font-weight: bold;
  font-size: 2em;
}
.btn {
  background-color: #f3df85;
  justify-content: center;
  width: 211px;
  height: 50px;
  border-radius: 26px;
  margin-left: 28%;
  margin-bottom: 20px;
  align-items: center;
}
a {
  text-decoration: none;
  font-size: 1.5em;
}
