@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.flex {
  display: flex;
}
/*HEADER - NAV*/
header {
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
  font-family: "roboto";
  padding: 25px 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.navbar {
  margin: 0 64px;
  width: 95%;
  box-sizing: border-box;
  justify-content: space-between;
}
.listNav {
  flex-direction: row;
  align-items: center;
}
.listNav li {
  list-style: none;
  margin-right: 25px;
}
/*BOTTONI NERI*/
.blackButton {
  background-color: #191919;
  color: white;
  border-radius: 99em;
  text-align: center;
  padding: 8px 16px;
}
/*MAIN*/
main {
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
  font-family: "spectral";
}
main h1 {
  margin-top: 200px;
  font-size: 7em;
  font-weight: 500;
  display: inline-block;
}
.contentMain {
  margin: 0 64px;
  width: 95%;
  padding-bottom: 135px;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: wrap;
}
.contentMain h3 {
  font-size: 1.5em;
  font-family: "roboto";
  width: 80%;
  margin-bottom: 50px;
}
.start {
  font-size: 20px;
  font-family: "roboto";
  width: 213px;
  padding: 12px 34px;
}
.M {
  margin-top: 100px;
  left: 50%;
  width: 585px;
  position: absolute;
}
/*ARTICLE*/
article {
  flex-wrap: wrap;
}
.articoli {
  flex-wrap: wrap;
}
