.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1200px;
}
.postIt {
  margin: 20px;
  width: 250px;
  height: 250px;
  font-family: cursive;
  padding: 5px;
  text-align: center;
  box-shadow: inset 0px -27px 17px -3px rgba(0, 0, 0, 0.26);
  transition: transform 0.1s ease-in-out, box-shadow 0.2s ease-out;
  animation: slap-in 1s;
}
.postIt:hover {
  transform: scale(2 2);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.bold {
  font-size: 2em;
  padding-top: 70px;
}
.text {
  font-size: 1.5em;
  padding-top: 10px;
}
#task1 {
  background-color: cadetblue;
  transform: rotate(5deg);
  animation-delay: 0.5s;
}
#task2 {
  background-color: aquamarine;
  transform: rotate(-3deg);
  animation-delay: 0.4s;
}

#task3 {
  background-color: coral;
  transform: rotate(3deg);
  animation-delay: 0.3s;
}

#task4 {
  background-color: crimson;
  transform: rotate(-6deg);
  animation-delay: 0.9s;
}

#task5 {
  background-color: darkkhaki;
  transform: rotate(-10deg);
  animation-delay: 0.8s;
}
#task6 {
  background-color: cornflowerblue;
  transform: rotate(8deg);
  animation-delay: 0.7s;
}
#task7 {
  background-color: burlywood;
  transform: rotate(-9deg);
  animation-delay: 0.6s;
}
#task8 {
  background-color: darksalmon;
  transform: rotate(3deg);
  animation-delay: 1s;
}
@keyframes slap-in {
  0% {
    opacity: 0;
    transform: scale(10);
  }
  50% {
    opacity: 0;
    transform: scale(10);
  }

  55% {
    opacity: 1;
    transform: scale(1.1);
  }

  65% {
    opacity: 1;
    transform: scale(0.9);
  }
  70% {
    opacity: 1;
    transform: scale(1);
  }
}
