/*DESKTOP VERSION*/

html {
  font-family: Arial, Helvetica, sans-serif;
  color: #612406;
}
.flex {
  display: flex;
}
.card {
  background-color: #fbf7e3;
  border-radius: 30px;
}
.img img {
  margin: 20px;
}
.text h3 {
  margin-top: 40px;
}
.text p {
  margin-right: 20px;
}
/*MOBILE VERSION*/
@media screen and(min-width:1200px), (max-width: 900px) {
  .card {
    flex-direction: column-reverse;
    width: 90%;
  }
  .img img {
    max-width: 90%;
    height: auto;
    justify-content: center;
  }
  .text {
    margin: 20px;
  }
}
